<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key, id: :log_key %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :log_url %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip, id: :log_ip %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :log_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
