<p id="notice"><%= notice %></p>

<h1>HBXSS</h1>
<hr>
<h2>XSS Generate</h2>
<table>
<tr>
  <td>PRI KEY</td>
  <td colspan="2"><input id="" type=text value=""></td>
</tr>
<tr>
  <td>SERVER IP</td>
  <td><input id="" type=text value=""></td><td><input type=button value="load url"></td>
</tr>
<tr>
  <td colspan="2"><input type="text" value="payload"></td><td><input type=button value="generte"</td>
</tr>
</table>
<hr>

<h2>Logs</h2>
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Url</th>
      <th>Ip</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.key %></td>
        <td><%= log.url %></td>
        <td><%= log.ip %></td>
        <td><%= log.time %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
